/* styles for App component */
.App {
  font-family: sans-serif;
  text-align: center;
}
h3 {
  color: rgb(56, 56, 233);
}
h4 {
  color: rgb(80, 80, 165);
}
.header {
  width: 100%;
}

/* styles for buttons in App component */
.buttons {
  display: inline-block;
}
.tab {
  background-color: rgba(75, 75, 235, 0.911);
  color: white;
  border: 4px white solid;
  border-radius: 7px;
  font-size: 14px;
  padding: 10px;
}
.tab:hover {
  background-color: rgba(122, 122, 235, 0.911);
}
.tab:active {
  background-color: red;
}
.warning {
  color: rgb(233, 59, 59);
}

/* style for table and each column in a row
   (json-data-structure | info-meta | info-description)
*/
table {
  font-size: 14px;
  width: 100vw;
  padding: 0;
}
tr {
  padding: 0;
  width: 100%;

}
td {
  padding: 0;
}
.json-data-structure {
  width: 40%;
  background-color: lightyellow;
}
.json-indentation {
  white-space: pre;
}
.info-meta {
  width: 20%;
}
.info-description {
  width: 40%;
}

/* button style for expand/shrink $ref */
.ref-click {
  background-color: transparent;
  color: rgb(80, 80, 165);
  border: none;
}
