.App {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  color: rgb(56, 56, 233);
}

h4 {
  color: rgb(80, 80, 165);
}

.arrayItem {
  font-size: 25px;
}

.json-data-structure {
  min-width: 100px;
  background-color: lightyellow;
}

.info-meta {
  min-width: 70px;
}

.info-description {
  max-width: 100px;
}

.ref-click {
  background-color: transparent;
  color: rgb(80, 80, 165);
  border: none;
}

table {
  white-space: nowrap;
}

.tab {
  background-color: rgba(75, 75, 235, 0.911);
  color: white;
  border: 4px white solid;
  border-radius: 7px;
  font-size: 14px;
  padding: 10px;
}

.tab:hover {
  background-color: rgba(122, 122, 235, 0.911);
}
.tab:active {
  background-color: red;
}

.warning {
  color: rgb(233, 59, 59);
}
